Student Inquiry Automation.json
{
  "name": "Student Inquiry Automation",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a friendly, professional AI receptionist for an education institute. Your job is to assist students, parents, and visitors by answering questions about courses, programs, admissions, schedules, and fees in a polite and helpful manner. You should provide clear, concise responses and guide users toward the next step, such as learning more about a course or connecting with a counselor. If a user shows interest in joining a program, politely ask for their name, email, and phone number so the institute team can follow up with them.\n\nTools\n\nInstitute Q&A Tool: Use this tool to retrieve accurate information about courses, programs, faculty, schedules, admission process, and fees. Always rely on this tool when answering institute-related questions and summarize the information clearly for the user.\n\nNotify Counselor Tool: If a user shows interest in a course or program, collect their name, email, and phone number, then use this tool to send the counselor a summary including the user’s details and the course they are interested in so the counselor can follow up.\n\nCalculator Tool: Use this tool whenever the user asks for any numerical calculation, such as fee totals, installment plans, or discounts.\n\nalso Extract the following from user message:\n- name\n- email\n- phone\n\nReturn JSON:\n\n{\n \"name\": \"\",\n \"email\": \"\",\n \"phone\": \"\",\n \"course\": \"\"\n}\nAfter collecting user details and returning JSON, also respond with a final friendly message:\n\n\"Thank you, {{ JSON.parse($json.chatInput).name }}! 😊 Our team will get in touch with you soon regarding the {{course}} course.\"\n\nIMPORTANT:\n- Always return JSON\n- Also include a natural language message separately for chat\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1232,
        -2736
      ],
      "id": "390cf893-b101-4490-a8e3-5df8a68436f7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1344,
        -2496
      ],
      "id": "1a3c013c-b095-4ea3-99b6-511b52093e2b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "nGFxuTdJVcfyefwc",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1184,
        -2496
      ],
      "id": "d7565f6c-122a-4870-8eb8-eb0cc4532644",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11dG9aII6724BTIHHXIeXGRP5TaOu1mSRXibPmU_KoSs",
          "mode": "list",
          "cachedResultName": "Institute Q&A data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11dG9aII6724BTIHHXIeXGRP5TaOu1mSRXibPmU_KoSs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1327337934,
          "mode": "list",
          "cachedResultName": "Institute_QnA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11dG9aII6724BTIHHXIeXGRP5TaOu1mSRXibPmU_KoSs/edit#gid=1327337934"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1024,
        -2512
      ],
      "id": "bc9849a6-5c26-4d58-b586-8605a27aae1b",
      "name": "Institute Q&A Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pglm7GdgwydoweH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5bf0efd9-4043-4882-84df-c714f123c24c",
              "leftValue": "={{ $json.output }}",
              "rightValue": "@gmail.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        -2624
      ],
      "id": "ff106ab1-f9ad-4772-9bf2-c7bdff39a07b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UPv2m5hruszWo6xuDOxG0oGJoP8TGo1HezErkJrgnHE",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UPv2m5hruszWo6xuDOxG0oGJoP8TGo1HezErkJrgnHE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 174212778,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UPv2m5hruszWo6xuDOxG0oGJoP8TGo1HezErkJrgnHE/edit#gid=174212778"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI('name', ``, 'string') }}",
            "email": "={{ $fromAI('email', ``, 'string') }}",
            "phone": "={{ $fromAI('phone', ``, 'string') }}",
            "course": "={{ $fromAI('course', ``, 'string') }}",
            "session id": "={{ $json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session id",
              "displayName": "session id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "course",
              "displayName": "course",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -864,
        -2528
      ],
      "id": "7ca2993c-27c5-4ba3-b21a-d3ab72818645",
      "name": "Notify_Counselor_Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pglm7GdgwydoweH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36c33f7d-81cf-4846-8cc8-89a1b6e6ff62",
              "name": "Email",
              "value": "={{ $json.output.match(/\"email\":\\s*\"([^\"]+)\"/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "7cfee723-dbe8-4259-a374-18be22dbe844",
              "name": "Name",
              "value": "={{ $json.output.match(/\"name\":\\s*\"([^\"]+)\"/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "e5c2dd43-fdc3-4fab-aca2-fc826e44b0e6",
              "name": "Course_name",
              "value": "={{ $json.output.match(/\"course\":\\s*\"([^\"]*)\"/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "77258a5f-7539-4122-a0ba-3e366690f735",
              "name": "Phone",
              "value": "={{ $json.output.match(/\"phone\":\\s*\"([^\"]+)\"/)?.[1] }}",
              "type": "string"
            },
            {
              "id": "9cfe7232-743c-4325-a047-790ff2e28f13",
              "name": "Timing",
              "value": "={{ new Date().toLocaleString(\"en-IN\", {    day: \"numeric\",    month: \"long\",    year: \"numeric\",    hour: \"numeric\",    minute: \"2-digit\",    hour12: true,    timeZone: \"Asia/Kolkata\"  }) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -2640
      ],
      "id": "b2d02769-2fcc-4e56-8d49-a31d3617cbf2",
      "name": "Prepare Lead Data"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "=Thanks for your interest in {{ $json.Course_name }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -144,
        -2640
      ],
      "id": "71d16808-170e-4956-906e-006475fd9247",
      "name": "Send Mail",
      "webhookId": "f4c330ac-ad42-442b-aeee-e0a9194ff2e2",
      "credentials": {
        "gmailOAuth2": {
          "id": "E6zoCe7mBb8aTpvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n{\njson:{\nEmail: $json.Email,\nsubject: \"Thanks for your interest in \" + $json.Course_name,\nmessage: `\n\n<!-- Header --> \n<div style=\"background:#0b5ed7;padding:20px;text-align:center;\"> \n<img src=\"https://tgcdehradun.com/wp-content/uploads/2025/01/tgc-logo.png\" style=\"height:60px;\"> \n</div> \n\n<!-- Body --> \n<div style=\"padding:30px;color:#333;\"> \n\n<h2 style=\"margin-top:0;\">Hi ${$json.Name}</h2> \n\n<p style=\"font-size:16px;line-height:1.6;\">\nThank you for sharing your details. We’re excited that you're interested in the \n<b style=\"color:#0b5ed7;\">${$json.Course_name} Course</b>.\n</p> \n\n<p style=\"font-size:16px;line-height:1.6;\">\nOur academic counselor will contact you shortly via <b>call or email</b> to guide you through admission process, course structure, fees and career opportunities.\n</p> \n\n<div style=\"text-align:center;margin:30px 0;\"> \n<a href=\"https://tgcdehradun.com\" style=\"background:#0b5ed7;color:white;padding:14px 28px;text-decoration:none;border-radius:6px;font-weight:bold;display:inline-block;\">\nExplore More Courses\n</a> \n</div> \n\n<p style=\"font-size:15px;color:#555;\">\nIf you have any questions, feel free to reply to this email. We are always happy to help.\n</p> \n\n<p style=\"margin-top:30px;\">\nRegards,<br>\n<b>Admissions Team</b><br>\nTGC Institute\n</p> \n\n</div> \n\n<div style=\"background:#f1f3f5;padding:15px;text-align:center;font-size:13px;color:#777;\">\n© 2025 TGC Institute | All Rights Reserved\n</div>\n\n`\n}\n},\n\n{\njson:{\nEmail: \"parashchand01@gmail.com\",\nsubject: \"New Student Lead\",\nmessage: `\n\n<div style=\"margin:0;padding:0;background:#f2f4f7;\">\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n<tr>\n<td align=\"center\" style=\"padding:12px;\">\n\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"max-width:420px;background:#ffffff;border-radius:12px;font-family:Arial,Helvetica,sans-serif;overflow:hidden;\">\n\n<tr>\n<td align=\"center\" style=\"background:#198754;padding:18px;\">\n<img src=\"https://tgcdehradun.com/wp-content/uploads/2025/01/tgc-logo.png\" width=\"95\">\n<h2 style=\"color:#ffffff;margin:8px 0 0 0;font-size:18px;\">New Student Lead</h2>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:18px;color:#333;font-size:14px;line-height:1.6;\">\n\n<p style=\"margin-top:0;\">Hello Team</p>\n\n<p>\nA new student has shown interest in joining a course. Please connect with the student quickly.\n</p>\n\n<table width=\"100%\" style=\"background:#f7f7f7;border-radius:8px;padding:14px;margin-top:10px;\">\n<tr><td style=\"padding:6px 0;\"><strong>Name:</strong> ${$json.Name}</td></tr>\n<tr><td style=\"padding:6px 0;\"><strong>Email:</strong> ${$json.Email}</td></tr>\n<tr><td style=\"padding:6px 0;\"><strong>Phone:</strong> ${$json.Phone}</td></tr>\n<tr><td style=\"padding:6px 0;\"><strong>Course:</strong> <span style=\"color:#198754;font-weight:bold;\">${$json.Course_name}</span></td></tr>\n<tr><td style=\"padding:6px 0;\"><strong>Inquiry Time:</strong> ${$json.Timing}</td></tr>\n</table>\n\n<table width=\"100%\" style=\"margin-top:16px;\">\n<tr>\n<td>\n<a href=\"tel:${$json.Phone}\" style=\"background:#198754;color:#fff;text-decoration:none;display:block;text-align:center;padding:13px;border-radius:6px;font-weight:bold;font-size:14px;\">\nCall Student\n</a>\n</td>\n</tr>\n</table>\n\n<table width=\"100%\" style=\"margin-top:10px;\">\n<tr>\n<td>\n<a href=\"mailto:${$json.Email}\" style=\"background:#0d6efd;color:#fff;text-decoration:none;display:block;text-align:center;padding:13px;border-radius:6px;font-weight:bold;font-size:14px;\">\nSend Email\n</a>\n</td>\n</tr>\n</table>\n\n<p style=\"font-size:12px;color:#777;margin-top:16px;\">\nFast follow-up improves admission conversion\n</p>\n\n</td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"background:#f1f3f5;padding:10px;font-size:11px;color:#888;\">\nTGC Institute\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n</div>\n\n`\n}\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -2640
      ],
      "id": "493abc51-5f9c-47f1-905a-c014ce932d12",
      "name": "Student + Consultant Mail Code"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Parash. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1552,
        -2752
      ],
      "id": "e0649787-4ace-471c-bc31-ae271745a127",
      "name": "When chat message received",
      "webhookId": "05c88d8a-61b3-47e3-85b0-a7417a8496b2"
    },
    {
      "parameters": {},
      "id": "630fcceb-61d7-4356-8357-9fb48aab250f",
      "name": "Start Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1664,
        -2144
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json['User Message'].match(/[\\w.-]+@[\\w.-]+\\.\\w+/)?.[0] }}  ",
        "subject": "=Exciting Course: {{ $json['User Message'].match(/[a-zA-Z]+\\s+course/i)?.[0] }}",
        "message": "=<div style=\"margin:0;padding:0;background:#f2f4f7;\">\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n<tr>\n<td align=\"center\" style=\"padding:12px;\">\n\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"max-width:420px;background:#ffffff;border-radius:12px;font-family:Arial,Helvetica,sans-serif;overflow:hidden;\">\n\n<tr>\n<td align=\"center\" style=\"background:#198754;padding:18px;\">\n<img src=\"https://tgcdehradun.com/wp-content/uploads/2025/01/tgc-logo.png\" width=\"95\" alt=\"TGC Logo\">\n<h2 style=\"color:#ffffff;margin:8px 0 0 0;font-size:18px;\">Welcome to TGC Institute</h2>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:18px;color:#333;font-size:14px;line-height:1.6;\">\n\n<p style=\"margin-top:0;\">Hi <strong>{{ $json['User Message'].match(/name\\s+([a-zA-Z]+)/i)?.[1] || 'Student' }}</strong>,</p>\n\n<p>Thank you for your strong interest in the <strong>{{ $json['User Message'].match(/[a-zA-Z]+\\s+course/i)?.[0] || 'program' }}</strong>.<br>\nWe would be happy to assist you with the admission process and help you get started.</p>\n\n<p>Our academic counselor can schedule a quick call or demo session at your convenient time.<br>\nPlease let us know a suitable time so we can proceed further.</p>\n\n<p>Looking forward to helping you begin your learning journey.</p>\n\n<p>Regards,<br>\n<strong>Admissions Team</strong><br>\nTGC Institute</p>\n\n</td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"background:#f1f3f5;padding:10px;font-size:11px;color:#888;\">\nTGC Institute\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n</div>",
        "options": {}
      },
      "id": "c7b2866d-b74e-4c26-b585-16c680751a28",
      "name": "Send Course Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -64,
        -2272
      ],
      "webhookId": "a4200fb5-4b10-47da-948f-0e271f922834",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "E6zoCe7mBb8aTpvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "d3226c0f-15ef-4c3c-a768-0145cdffce1e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "HOT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": 20,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "e96ef78c-e3d9-4294-900b-cf449d20b80d"
                  },
                  {
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": 50,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "5810c047-1bbb-4187-82c7-e495fd0c531d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "WARM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Score }}",
                    "rightValue": 10,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    },
                    "id": "66a95e9f-e3a4-4375-938f-5a587737caf3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COLD "
            }
          ]
        },
        "options": {}
      },
      "id": "9e59c179-58da-4a43-9866-0b6ae58bc55c",
      "name": "Classify Lead by Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -656,
        -2160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "leadCategory",
              "value": "HOT",
              "type": "string"
            },
            {
              "id": "2",
              "name": "priority",
              "value": "High",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e15da6c6-23ff-4e2c-905d-4df3332ec66c",
      "name": "HOT Lead - Priority Follow-up",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -2272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "leadCategory",
              "value": "COLD",
              "type": "string"
            },
            {
              "id": "2",
              "name": "priority",
              "value": "Low",
              "type": "string"
            },
            {
              "id": "3",
              "name": "action",
              "value": "Send re-engagement campaign in 7 days",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "79210200-79e1-4385-b7e2-9a4354cb1ed2",
      "name": "COLD Lead - Re-engagement",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -1872
      ]
    },
    {
      "parameters": {
        "content": "## **AI Student Inquiry Automation Flow**\n1. User sends a message.\n\n2. AI replies like a receptionist.\n3. AI gets course info from Google Sheet name is Institute Q&A Tool.\n\n4. AI remembers conversation.\n5. AI collects name, email, phone, course.\n\n6. Chat is saved in sheet name is Chat Query.\n7. Checks if email is given.\n8. Prepares user details.\n9. Saves lead in sheet name is Leads.\n\n10. Creates email message.\n\n11. Sends email to student.\n12. Sends lead info to counselor.",
        "height": 448,
        "width": 2256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2112,
        -2816
      ],
      "typeVersion": 1,
      "id": "40f00487-13b0-4ab2-8096-80e485bb5fb0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json['User Message'].match(/[\\w.-]+@[\\w.-]+\\.\\w+/)?.[0] }}  ",
        "subject": "=Exciting Course: {{ $json['User Message'].match(/[a-zA-Z]+\\s+course/i)?.[0] }}",
        "message": "=<div style=\"margin:0;padding:0;background:#f2f4f7;\">\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n<tr>\n<td align=\"center\" style=\"padding:12px;\">\n\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"max-width:420px;background:#ffffff;border-radius:12px;font-family:Arial,Helvetica,sans-serif;overflow:hidden;\">\n\n<tr>\n<td align=\"center\" style=\"background:#0d6efd;padding:18px;\">\n<img src=\"https://tgcdehradun.com/wp-content/uploads/2025/01/tgc-logo.png\" width=\"95\">\n<h2 style=\"color:#ffffff;margin:8px 0 0 0;font-size:18px;\">Course Information</h2>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:18px;color:#333;font-size:14px;line-height:1.6;\">\n\n<p style=\"margin-top:0;\">Hi <strong>{{ $json['User Message'].match(/name\\s+([a-zA-Z]+)/i)?.[1] || 'Student' }}</strong>,</p>\n\n<p>Thank you for your interest in our <strong>{{ $json['User Message'].match(/[a-zA-Z]+\\s+course/i)?.[0] || 'program' }}</strong>.</p>\n\n<p>We would be happy to share details about course syllabus, fees, batch timings and placement support to help you make the right decision.</p>\n\n<p>You can reply to this email to schedule a quick counseling call or request a free demo session.</p>\n\n<p>Warm Regards,<br>\n<strong>Admissions Team</strong><br>\nTGC Institute</p>\n\n</td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"background:#f1f3f5;padding:10px;font-size:11px;color:#888;\">\nTGC Institute\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n</div>\n",
        "options": {}
      },
      "id": "e5c97967-10e0-4b16-a26e-d389e8db1d0e",
      "name": "Send Course Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -64,
        -2080
      ],
      "webhookId": "a4200fb5-4b10-47da-948f-0e271f922834",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "E6zoCe7mBb8aTpvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json['User Message'].match(/[\\w.-]+@[\\w.-]+\\.\\w+/)?.[0] }}  ",
        "subject": "=Exciting Course: {{ $json['User Message'].match(/[a-zA-Z]+\\s+course/i)?.[0] }}",
        "message": "=<div style=\"margin:0;padding:0;background:#f2f4f7;\">\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\">\n<tr>\n<td align=\"center\" style=\"padding:12px;\">\n\n<table role=\"presentation\" width=\"100%\" cellspacing=\"0\" cellpadding=\"0\" border=\"0\" style=\"max-width:420px;background:#ffffff;border-radius:12px;font-family:Arial,Helvetica,sans-serif;overflow:hidden;\">\n\n<tr>\n<td align=\"center\" style=\"background:#6c757d;padding:18px;\">\n<img src=\"https://tgcdehradun.com/wp-content/uploads/2025/01/tgc-logo.png\" width=\"95\">\n<h2 style=\"color:#ffffff;margin:8px 0 0 0;font-size:18px;\">Course Enquiry Follow-Up</h2>\n</td>\n</tr>\n\n<tr>\n<td style=\"padding:18px;color:#333;font-size:14px;line-height:1.6;\">\n\n<p style=\"margin-top:0;\">Hi <strong>{{ $json['User Message'].match(/name\\s+([a-zA-Z]+)/i)?.[1] || 'Student' }}</strong>,</p>\n\n<p>We noticed your enquiry about the <strong>{{ $json['User Message'].match(/[a-zA-Z]+\\s+course/i)?.[0] || 'program' }}</strong> course.</p>\n\n<p>New batches are starting soon and limited seats are available. If you are still interested, we would be happy to guide you.</p>\n\n<p><strong>Reply “YES” to receive complete course details and current offers.</strong></p>\n\n<p>Regards,<br>\n<strong>Admissions Team</strong><br>\nTGC Institute</p>\n\n</td>\n</tr>\n\n<tr>\n<td align=\"center\" style=\"background:#f1f3f5;padding:10px;font-size:11px;color:#888;\">\nTGC Institute\n</td>\n</tr>\n\n</table>\n\n</td>\n</tr>\n</table>\n</div>\n",
        "options": {}
      },
      "id": "057af8d5-9f4e-4d7b-b3b0-f9585b57afd3",
      "name": "Send Course Email2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -64,
        -1872
      ],
      "webhookId": "a4200fb5-4b10-47da-948f-0e271f922834",
      "executeOnce": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "E6zoCe7mBb8aTpvd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## **Lead Scoring & Email Automation Flow**\n1. Workflow starts manually.\n\n2. Chat data is fetched from Google Sheet name is Chat Query.\n3. All user messages are combined into one text.\n4. Important info is extracted from user message.\n5. System calculates lead score based on keywords.\n\n6. Lead is classified as HOT, WARM, or COLD.\n\n7. HOT leads are marked high priority.\n8. WARM leads are marked medium priority.\n9. COLD leads are marked low priority.\n\n10. HOT leads get strong follow-up email.\n11. WARM leads get normal course info email.\n12. COLD leads get reminder/re-engagement email.",
        "height": 720,
        "width": 2256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2112,
        -2336
      ],
      "typeVersion": 1,
      "id": "4d82b0c0-5a47-41e3-a989-6bec9012b16a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "['AI Response']",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1264,
        -2144
      ],
      "id": "dc6630d4-a169-4e57-8d09-704a251a0efe",
      "name": "Get Data User Message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad49a85d-62a1-449c-841e-6b3112904d3e",
              "name": "User Message",
              "value": "={{ $json.data.map(item => item['User Message']).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        -2144
      ],
      "id": "6a2607e9-7884-4360-885d-0a8af99b966d",
      "name": "Extract User Message"
    },
    {
      "parameters": {
        "jsCode": "// Grab the \"User Message\" field and turn the whole conversation into a lowercase string\nlet query = JSON.stringify($json[\"User Message\"] || \"\").toLowerCase();\n\n// Start the score at 0\nlet score = 0;\n\n// Add points ONLY if these specific words are found\nif(query.includes(\"python\") || query.includes(\"course\")){\n  score += 10;\n}\n\nif(query.includes(\"name\") || query.includes(\"start\")){\n  score += 15;\n}\n\nif(query.includes(\"email\")){\n  score += 20;\n}\n\nif(query.includes(\"phone\") || query.includes(\"admission\")){\n  score += 40;\n}\n\n// Output the final calculated score\nreturn [\n  {\n    json:{\n      ...$json,\n      Score: score\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -2144
      ],
      "id": "4bf0b673-b33b-4a4c-8c45-52a453b57d8b",
      "name": "Calculate Lead Score"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "leadCategory",
              "value": "WARM",
              "type": "string"
            },
            {
              "id": "2",
              "name": "priority",
              "value": "Medium",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c0f57724-a057-4558-a429-110f59b08e6f",
      "name": "WARM Lead - Campaign",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -2080
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1w9FHEWOHCwbSElDtX0z1qXPtyy7LZOZ9GS4nJRXxvUI",
          "mode": "list",
          "cachedResultName": "Chat Query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9FHEWOHCwbSElDtX0z1qXPtyy7LZOZ9GS4nJRXxvUI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9FHEWOHCwbSElDtX0z1qXPtyy7LZOZ9GS4nJRXxvUI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now }}",
            "Session ID": "={{ $('When chat message received').item.json.sessionId }}",
            "User Message": "={{ $('When chat message received').item.json.chatInput }}",
            "AI Response": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "User Message",
              "displayName": "User Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Response",
              "displayName": "AI Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -752,
        -2800
      ],
      "id": "79f7c469-b165-4017-9190-215c29256109",
      "name": "Store Chat Query",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pglm7GdgwydoweH",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1w9FHEWOHCwbSElDtX0z1qXPtyy7LZOZ9GS4nJRXxvUI",
          "mode": "list",
          "cachedResultName": "Chat Query",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9FHEWOHCwbSElDtX0z1qXPtyy7LZOZ9GS4nJRXxvUI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w9FHEWOHCwbSElDtX0z1qXPtyy7LZOZ9GS4nJRXxvUI/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1456,
        -2144
      ],
      "id": "6f7a3f29-d370-4c38-888b-8b7a38f41629",
      "name": "Get Chat Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7pglm7GdgwydoweH",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Institute Q&A Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Chat Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify_Counselor_Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Student + Consultant Mail Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Student + Consultant Mail Code": {
      "main": [
        [
          {
            "node": "Send Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Get Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Lead by Score": {
      "main": [
        [
          {
            "node": "HOT Lead - Priority Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WARM Lead - Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "COLD Lead - Re-engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOT Lead - Priority Follow-up": {
      "main": [
        [
          {
            "node": "Send Course Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COLD Lead - Re-engagement": {
      "main": [
        [
          {
            "node": "Send Course Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data User Message": {
      "main": [
        [
          {
            "node": "Extract User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Message": {
      "main": [
        [
          {
            "node": "Calculate Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Lead Score": {
      "main": [
        [
          {
            "node": "Classify Lead by Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WARM Lead - Campaign": {
      "main": [
        [
          {
            "node": "Send Course Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Chat Query": {
      "main": [
        []
      ]
    },
    "Get Chat Data": {
      "main": [
        [
          {
            "node": "Get Data User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ff0b5163-fa1d-488b-813b-2ff070e22f80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee244acab48a25c5844a4173910b09f250b0d7843dc9c7079fe04da1e685890e"
  },
  "id": "VdG6J3bDR20Vrone",
  "tags": []
}